.Rproj.user
.Rhistory
.RData
.Ruserdata

/.quarto/
.quarto/_freeze/example-paper/execute-results/docx.json
.quarto/_freeze/example-paper/execute-results/html.json
.quarto/_freeze/example-paper/execute-results/tex.json
.quarto/_freeze/example-paper/figure-pdf/unnamed-chunk-2-1.pdf
.quarto/_freeze/example-paper/figure-pdf/unnamed-chunk-3-1.pdf
.quarto/idx/example-paper.qmd.json
.quarto/xref/18aff31d
.quarto/xref/455dd5ea
.quarto/xref/93e6d83d
.quarto/_freeze/example-paper/execute-results/docx.json
/.quarto
